.about {
  margin: 2.5rem 1.875rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(#F063B8, 0.15);
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  max-width: 1117px;

  .aboutImage {
    width: 90%;
    margin-bottom: 20px;
    max-width: 250px;

    img {
      width: 100%;
    }
  }

  .aboutContent {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 25px;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 40px;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

@media (min-width: 600px) {
  .about {
    flex-direction: row;
    padding: 1.875rem;

    .aboutImage {
      width: 40%;
      max-width: 470px;
    }

    .aboutContent {
      padding: 0 30px;
      width: 60%;

      p {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .about {
    margin: auto;

    .aboutContent {
      h3 {
        font-size: 30px;
      }
  
      p {
        font-size: 20px;
      }
    }
  }
  
}